<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Crawler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Home", "PostTwitters")"><img src="~/Content/Images/logo.png" height="75px" width="150px" class="img-responsive"/></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-weight: bold;">
                    <li>@Html.ActionLink("Coletor", "Index", "PostTwitters")</li>
                    <li>@Html.ActionLink("Gráfico Barras", "Grafico", "PostTwitters")</li>
                    <li>@Html.ActionLink("Gráfico Temporal", "GraficoTemporal", "PostTwitters")</li>
                    <li>@Html.ActionLink("Mapa da Violência", "Mapa", "PostTwitters")</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="">
        @RenderBody()
    </div>
    
    <div class="navbar navbar-default navbar-fixed-bottom">
        <footer>
            <br />
            <strong>Mapeamento da Violência no Brasil</strong>
        </footer>
    </div>

    <br />
    <br />
    <br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
